.search-results {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

ul {
  list-style-type: none;
}

.song-detail {
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px 200px;
}